@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    var currentUser = await UserManager.GetUserAsync(User);
    var isAdmin = await UserManager.IsInRoleAsync(currentUser, "Admin");
    var isPayer = await UserManager.IsInRoleAsync(currentUser, "Payer");
    var isSaller = await UserManager.IsInRoleAsync(currentUser, "Saller");

    <!-- partial:partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
            @if (isSaller || isPayer || isAdmin)
            {
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false"
                       aria-controls="form-elements">
                        <i class="icon-columns menu-icon"></i>
                        <span class="menu-title">Accion</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="form-elements">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" asp-controller="Sale" asp-action="Index">Venta</a></li>
                        </ul>
                    </div>
                </li>
            }
            @if (isPayer || isAdmin)
            {
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                        <i class="icon-layout menu-icon"></i>
                        <span class="menu-title">Mantenimiento</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="ui-basic">
                        <ul class="nav flex-column sub-menu">
                            @if (isAdmin)
                            {
                                <li class="nav-item"> <a class="nav-link" asp-controller="User" asp-action="Index">Usuario</a></li>
                            }
                            <li class="nav-item"> <a class="nav-link" asp-controller="Campaing" asp-action="Index">Campaña</a></li>
                            <li class="nav-item"> <a class="nav-link" asp-controller="Payment" asp-action="Index">Bonificaciones</a></li>

                        </ul>
                    </div>
                </li>
            }
            @if (isPayer || isAdmin)
            {
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
                        <i class="icon-paper menu-icon"></i>
                        <span class="menu-title">Reporte</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="tables">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" asp-controller="Report" asp-action="ReportByCampaing">Campañas</a></li>
                        </ul>
                    </div>
                </li>
            }
            @if (isAdmin)
            {
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
                        <i class="icon-contract menu-icon"></i>
                        <span class="menu-title">Configuraciones</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="charts">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" asp-controller="Parameter" asp-action="Index">Parámetros</a></li>
                        </ul>
                    </div>
                </li>
            }
        </ul>
    </nav>

}