@model BonusPaymentSystem.Core.Model.ApplicationUser

@{
    ViewData["Title"] = "Actualización de Usuario";
}

<div class="row">
    <div class="col-md-8 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">@ViewData["Title"]</h4>
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="UserName" class="control-label"></label>
                        <input asp-for="UserName" class="form-control" readonly />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PhoneNumber" class="control-label"></label>
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="EmployeeCode" class="control-label"></label>
                        <input asp-for="EmployeeCode" class="form-control" />
                        <span asp-validation-for="EmployeeCode" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BankAccount" class="control-label"></label>
                        <input asp-for="BankAccount" class="form-control" />
                        <span asp-validation-for="BankAccount" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Status" class="control-label"></label>
                        @Html.DropDownList("Status", new List<SelectListItem>
                                                        {
                                                            new SelectListItem {Text = "Activo", Value = "1", Selected =  Model.Status == 1},
                                                            new SelectListItem {Text = "Inactivo", Value = "2", Selected =  Model.Status != 1 },
                                                        }, "Seleccionar", new { @class = "form-control" })
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Guardar" class="btn btn-primary" />
                        <a asp-action="Index" asp-controller="User" class="btn btn-light">Regresar</a>
                        @Html.ActionLink("Cambiar Contraseña", "ChangePassword", new { id = Model.UserName }, new { @class = "btn btn-warning align-right" })
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
