@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Acceso Negado";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Usted no tiene permiso para acceder.</p>
</header>
